<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.madrid.educacion"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Atlético de Madrid</name>

  <description>
      App sobre el Atlético de Madrid.
  </description>

  <author href="https://codepen.io/carlostessier" email="prof.carlos.tessier@gmail.com">
      Carlos Tessier
  </author>

<icon src="res/drawable-hdpi/ic_launcher.png" platform="android" qualifier="ldpi" />
<icon src="res/drawable-mdpi/ic_launcher.png" platform="android" qualifier="mdpi" />
<icon src="res/drawable-xhdpi/ic_launcher.png" platform="android" qualifier="xhdpi" />
<icon src="res/drawable-xxhdpi/ic_launcher.png" platform="android" qualifier="xxhdpi" />
<icon src="res/drawable-xxxhdpi/ic_launcher.png" platform="android" qualifier="xxxhdpi" />

<icon src="icon.png"/>

<access origin="http://code.jquery.com" subdomains="true" />

</widget>

